$main-color: #81064C;
$white-color: #FFF;
$secondary-color: #81064C;
$white-grey-color: #F2F2F2;
$black-color: #1C1C1C;

$s1: 0.8rem;
$s2: 1.2rem;
$s3: 1.4rem;
$s4: 1.6rem;
$s5: 1.8rem;
$s6: 2rem;
$s7: 2.2rem;
$s8: 2.4rem;
$s9: 2.6rem;
$s10: 2.8rem;
$s11: 3rem;