.game-screen{
    width: 100%;
    min-height: 75vh;
    border: 1px solid black;
    margin: auto;
    display: inline-block;
    margin-top: $s10;
    border-collapse: collapse;
    overflow: hidden;
    &__wrapper{
        min-height: 100% !important;
        height: 100%;
    }
}

.cell {
    border: 0.1rem solid #acacac;
    width: 1.6rem;
    height: 1.6rem;
    &--alive{
        background-color: $main-color;
        border: 0.1rem solid $main-color;
    }
}

.bottom-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $s6;
    margin-top: $s5;
}

// .next-gen-button {
//     display: inline;
// }

// .start-button{
//     display: inline;
// }

